#whiteboard {
  text-align:none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: solid 2px #ccc;
  float: left;
  margin-right: 10px;
  font: 1em source-sans-pro, Source Sans Pro, Helvetica, sans-serif;
}
