

<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Language learning Bar</h1>
    </div>
</div>

{{#link-to 'whiteboard' class="topcoat-button--large"}}Go to whiteboard{{/link-to}} 