{{#view App.WhiteboardMenuView class="topcoat-button-bar"}}
  <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button" name="undo">Undo</button>
  </div>

  <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button" name="redo">Redo</button>
  </div>

  <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button" name="animate">Animate</button>
  </div>

    <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button" name="clear">Clear</button>
  </div>
{{/view}}

<div id="whiteboard"  style="width:100%;"></div>
